@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400&display=swap');



*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

.toplogin{
    background-color: beige;
}

.titlelogo{
    width: 80px;
}
#titlelogo{
    text-decoration: none;
}

.search{
    border: 2px solid orangered;
}
.searchbutton{
    background-color: black;
}
.searchbutton:hover{
    background-color: orangered;
}

.nav-item{
    padding-left: 50px;
    padding-right: 50px;
    font-weight: bold;
}

.maintab{
    background-color: lightgrey;
}

.nav-link{
    font-size: 25px;
}


.about{
    background-color: rgb(32, 72, 73,0.6);
    
}
.abouttitle{
    font-weight: 900;
    color: #fff;
    font-size: 50px;
}
.aboutcontent{
    color: rgb(32, 72, 73);
    font-size: 18px;
}

.icon1{
    font-size: 49px;
    color: #000;
}
.icon2{
    width: 49px;
}

.producttitle{
    font-weight: 900;
    color: #000;
    font-size: 50px;
}
.product {
    background-color: #fff;
}

.last{
    font-size: 11px;
    border-radius: 8px;
    border-style: solid;
    font-weight: bold;
    border-width: 1px;
    color: #fff;
    
}
.last:hover{
    background-color: #d4e41d;
    border-style: none;
    /* transform: rotate(180deg); */
    transform: scale(1.4,1.4);
    transition-duration: 0.1s;
}
#help{
    padding-top: 15px;
    padding-bottom: 12px;
    
}

#helplink{
    color: #fff;
    text-decoration: none;
}
#helplink:hover{
    color: #cf842e;

}

.endcontent{
    background-color: beige;
}
#ii{
    padding-left: 18px;
}

#head{
    color: rgb(56, 69, 67);
    font-weight: bolder;
    font-size: 30px;
    text-shadow: 1px -1px 15px rgb(193, 149, 17);
}
#linked{
    text-decoration: none;
}